.Navbar {
  width: 100vw;
  background-color: var(--primary);
  margin-bottom: 30px;
}

.Navbar__content {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.Navbar__content>ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.Navbar__content>ul>li {
  list-style: none;
}

.Navbar__content__link--active {
  text-decoration: underline;
}

@media(min-width: 800px) {
  .Navbar__content {
    margin: 0 auto;
    width: 800px;
  }
}

@media(max-width: 500px) {
  .Navbar__content__link__name {
    display: none;
  }

  .Navbar__content__link {
    font-size: 20pt;
  }
}